body::-webkit-scrollbar{
    display: none;
}
body{
    height: 100%;
}
/* Sidebar visibility */
.lg\:hidden[role="dialog"] {
    display: none;
}

/* Dark mode styles */
body .dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark header {
    background-color: #1e1e1e;
    border-color: #2e2e2e;
}

body.dark a {
    color: #ffffff;
}

body.dark .bg-white {
    background-color: #1e1e1e;
}

body.dark .bg-indigo-600 {
    background-color: #4a90e2;
}

body.dark .text-gray-900 {
    color: #ffffff;
}

body.dark .text-gray-500 {
    color: #b0b0b0;
}

/* Smooth transition */
body,
header,
a,
.bg-white,
.bg-indigo-600,
.text-gray-900,
.text-gray-500 {
    transition: background-color 0.3s, color 0.3s;
}

/* Sidebar transition */
.lg\:hidden[role="dialog"] {
    transition: transform 0.3s ease-in-out;
}

/* Blur effect */
.blurred {
    filter: blur(4px);
    pointer-events: none;
}


#toast-default,#toast-subscribe,#toast-contact {
    position: fixed;
    top: 50%;
    /* Vertically center */
    left: 50%;
    /* Horizontally center */
    transform: translate(-50%, -50%);
    /* Offset by 50% of its own size */
    z-index: 9999;
    /* Ensure it’s on top */
    display: none;
    transition: opacity 0.3s ease-in-out;
    /* Initially hidden */
    flex-direction: row;
    /* Align content in a row (default for flex) */
}

/* Styling for toast appearance */
#toast-default.block,#toast-subscribe.block,#toast-contact.block {
    display: flex;
    /* Show when active */
}